data/
final_tests/
lang_vecs/
train_logs/
util-scripts/
run.sh
runeval.sh
bible_model_final*.checkpoint/
bible_model_final*/
bible_model_final*
final_tests_*/
test/
draw_train_loss/*.png
baseline_data_all.png
final_tests_de_lstm/
final_tests_fr_lstm/
draw_bleu_score/*.png
draw_bleu_score/*.txt