data/
final_tests/
lang_vecs/
train_logs/
util-scripts/
bible_model_final_appended.log
run.sh
runeval.sh
bible_model_final.checkpoint/
bible_model_final/
final_tests_fr_to_en/
test_dynet.sh
test_dynet.py