data/
final_tests/
lang_vecs/
train_logs/
util-scripts/
run.sh
runeval.sh
bible_model_final.checkpoint/
bible_model_final/
final_tests_combine_fr_de_lstm/
bible_model_final_appended_combined_fr_de_lstm.log
bible_model_final_combined_fr_de_lstm
bible_model_final_combined_fr_de_lstm.checkpoint
test/
draw_train_loss/combine_fr_de_lstm_loss1.png
draw_train_loss/combine_fr_de_lstm_loss2.png
draw_train_loss/combine_fr_de_lstm_loss3.png
draw_train_loss/combine_fr_de_lstm_loss4.png
draw_train_loss/fr_log_lstm_loss1.png
draw_train_loss/fr_log_lstm_loss2.png
draw_train_loss/fr_log_lstm_loss3.png
draw_train_loss/fr_log_lstm_loss4.png
draw_train_loss/de_log_lstm_loss1.png
draw_train_loss/de_log_lstm_loss2.png
draw_train_loss/de_log_lstm_loss3.png
draw_train_loss/de_log_lstm_loss4.png